#java {
  display: none;
}

#python {
  display: none;
}

#csharp {
  display: none;
}

/* #name1 {
  display: none;
} */

img {
  width: 500px
}

h1 {
  text-align: center;
  font-family: monospace;
  font-size: 50px;
  text-shadow: 1px 1px 2px rgb(182, 192, 199), 0 0 25px blue, 0 0 5px darkblue;
  /* text-shadow: 2px 2px rgb(151, 143, 232); */
}

h3 {
  font-family: 'Lucida Sans';
}

body {
  background-color: rgb(107, 168, 221);
}

.well {
  background-color: aliceblue;
  opacity: .9;
}

strong {
  text-transform: uppercase;
}
img {
  float: left;
  margin-right: 20px;
  box-shadow: 10px 10px 5px grey;);
}

