#java {
  display: none;
}

#python {
  display: none;
}

#csharp {
  display: none;
}

/* #name1 {
  display: none;
} */

img {
  width: 500px
}

h1 {
  text-align: center;
  font-family: monospace;
  font-size: 50px;
}

h3 {
  font-family: 'Lucida Sans';
}

body {
  background-color: rgb(107, 168, 221);
}

.well {
  background-color: aliceblue;
  opacity: .9;
}

strong {
  text-transform: uppercase;
}
img {
  float: left;
  padding-right: 20px;
}
